.foto-perfil{
  width: 250px; 
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
}
.cabecalho{
  margin-left: 300px;
  margin-top: -320px;
}
.resumo{
  margin-top: 10px;
  margin-left: 300px;
}
